[submodule "wp-content/themes/largo"]
	path = wp-content/themes/largo
	url = https://github.com/INN/Largo.git
[submodule "wp-content/themes/youth-today"]
	path = wp-content/themes/youth-today
	url = https://bitbucket.org/projectlargo/theme-youth-today.git
[submodule "wp-content/themes/gijn"]
	path = wp-content/themes/gijn
	url = https://bitbucket.org/projectlargo/theme-gijn.git
[submodule "wp-content/themes/ijec"]
	path = wp-content/themes/ijec
	url = https://bitbucket.org/projectlargo/theme-ijec.git
[submodule "wp-content/themes/iowawatch"]
	path = wp-content/themes/iowawatch
	url = https://bitbucket.org/projectlargo/theme-iowawatch.git
[submodule "wp-content/themes/jjie"]
	path = wp-content/themes/jjie
	url = https://bitbucket.org/projectlargo/theme-jjie.git
[submodule "wp-content/themes/maine"]
	path = wp-content/themes/maine
	url = https://bitbucket.org/projectlargo/theme-maine.git
[submodule "wp-content/themes/midwestcenter"]
	path = wp-content/themes/midwestcenter
	url = https://bitbucket.org/projectlargo/theme-midwestcenter.git
[submodule "wp-content/themes/necir"]
	path = wp-content/themes/necir
	url = https://bitbucket.org/projectlargo/theme-necir.git
[submodule "wp-content/themes/oklahomawatch"]
	path = wp-content/themes/oklahomawatch
	url = https://bitbucket.org/projectlargo/theme-oklahomawatch.git
[submodule "wp-content/themes/wisconsinwatch"]
	path = wp-content/themes/wisconsinwatch
	url = https://bitbucket.org/projectlargo/theme-wisconsinwatch.git
[submodule "wp-content/themes/sirf"]
	path = wp-content/themes/sirf
	url = https://bitbucket.org/projectlargo/theme-sirf.git
[submodule "wp-content/themes/c-hit"]
	path = wp-content/themes/c-hit
	url = https://bitbucket.org/projectlargo/theme-c-hit.git
[submodule "wp-content/plugins/largo-extended"]
	path = wp-content/plugins/largo-extended
	url = https://bitbucket.org/projectlargo/largo-extended.git
[submodule "wp-content/themes/aspen"]
	path = wp-content/themes/aspen
	url = https://bitbucket.org/projectlargo/theme-aspen.git
[submodule "wp-content/themes/invw"]
	path = wp-content/themes/invw
	url = https://bitbucket.org/projectlargo/theme-invw.git
[submodule "wp-content/plugins/navis-documentcloud"]
	path = wp-content/plugins/navis-documentcloud
	url = https://github.com/INN/navis-documentcloud.git
[submodule "wp-content/plugins/argo-links"]
	path = wp-content/plugins/argo-links
	url = https://github.com/INN/argo-links.git
[submodule "wp-content/plugins/largo-clean-contact"]
	path = wp-content/plugins/largo-clean-contact
	url = https://github.com/INN/largo-clean-contact.git
[submodule "wp-content/plugins/navis-jiffy-posts"]
	path = wp-content/plugins/navis-jiffy-posts
	url = https://github.com/INN/navis-jiffy-posts.git
[submodule "wp-content/plugins/navis-media-credit"]
	path = wp-content/plugins/navis-media-credit
	url = https://github.com/INN/navis-media-credit.git
[submodule "wp-content/plugins/navis-slideshows"]
	path = wp-content/plugins/navis-slideshows
	url = https://github.com/INN/navis-slideshows.git
[submodule "wp-content/themes/montana"]
	path = wp-content/themes/montana
	url = https://bitbucket.org/projectlargo/theme-montana.git
[submodule "wp-content/themes/fern"]
	path = wp-content/themes/fern
	url = https://bitbucket.org/projectlargo/theme-fern.git
[submodule "wp-content/themes/innovationtrail"]
	path = wp-content/themes/innovationtrail
	url = https://bitbucket.org/projectlargo/theme-innovationtrail.git
[submodule "wp-content/themes/ohio"]
	path = wp-content/themes/ohio
	url = https://bitbucket.org/projectlargo/theme-ohio.git
[submodule "wp-content/themes/raleigh"]
	path = wp-content/themes/raleigh
	url = https://bitbucket.org/projectlargo/theme-raleigh.git
[submodule "wp-content/plugins/argo-audio-player"]
	path = wp-content/plugins/argo-audio-player
	url = https://github.com/INN/argo-audio-player.git
[submodule "wp-content/themes/chicago-reporter"]
	path = wp-content/themes/chicago-reporter
	url = https://aschweigert@bitbucket.org/projectlargo/theme-chicago-reporter.git
[submodule "wp-content/themes/cpipr"]
	path = wp-content/themes/cpipr
	url = https://aschweigert@bitbucket.org/projectlargo/theme-cpipr.git
[submodule "wp-content/themes/impaqme"]
	path = wp-content/themes/impaqme
	url = https://aschweigert@bitbucket.org/projectlargo/theme-impaqme.git
[submodule "wp-content/themes/inews"]
	path = wp-content/themes/inews
	url = https://aschweigert@bitbucket.org/projectlargo/theme-inews.git
[submodule "wp-content/themes/kentucky"]
	path = wp-content/themes/kentucky
	url = https://aschweigert@bitbucket.org/projectlargo/theme-kycir.git
[submodule "wp-content/themes/largoproject"]
	path = wp-content/themes/largoproject
	url = https://aschweigert@bitbucket.org/projectlargo/theme-largoproject.git
[submodule "wp-content/themes/laschoolreport"]
	path = wp-content/themes/laschoolreport
	url = https://aschweigert@bitbucket.org/projectlargo/theme-laschoolreport.git
[submodule "wp-content/themes/nmindepth"]
	path = wp-content/themes/nmindepth
	url = https://aschweigert@bitbucket.org/projectlargo/theme-nmindepth.git
[submodule "wp-content/themes/teenvoices"]
	path = wp-content/themes/teenvoices
	url = https://aschweigert@bitbucket.org/projectlargo/theme-teenvoices.git
[submodule "wp-content/themes/voice-of-oc"]
	path = wp-content/themes/voice-of-oc
	url = https://aschweigert@bitbucket.org/projectlargo/theme-voice-of-oc.git
[submodule "wp-content/themes/ctmirror"]
	path = wp-content/themes/ctmirror
	url = https://github.com/drywall/ctmirror.git
