[submodule "wp-content/themes/largo"]
	path = wp-content/themes/largo
	url = https://github.com/INN/Largo.git
[submodule "wp-content/themes/youth-today"]
	path = wp-content/themes/youth-today
	url = https://bitbucket.org/projectlargo/theme-youth-today.git
[submodule "wp-content/themes/gijn"]
	path = wp-content/themes/gijn
	url = https://bitbucket.org/projectlargo/theme-gijn.git
[submodule "wp-content/themes/ijec"]
	path = wp-content/themes/ijec
	url = https://bitbucket.org/projectlargo/theme-ijec.git
[submodule "wp-content/themes/iowawatch"]
	path = wp-content/themes/iowawatch
	url = https://bitbucket.org/projectlargo/theme-iowawatch.git
[submodule "wp-content/themes/jjie"]
	path = wp-content/themes/jjie
	url = https://bitbucket.org/projectlargo/theme-jjie.git
[submodule "wp-content/themes/maine"]
	path = wp-content/themes/maine
	url = https://bitbucket.org/projectlargo/theme-maine.git
[submodule "wp-content/themes/midwestcenter"]
	path = wp-content/themes/midwestcenter
	url = https://bitbucket.org/projectlargo/theme-midwestcenter.git
[submodule "wp-content/themes/necir"]
	path = wp-content/themes/necir
	url = https://bitbucket.org/projectlargo/theme-necir.git
[submodule "wp-content/themes/oklahomawatch"]
	path = wp-content/themes/oklahomawatch
	url = https://bitbucket.org/projectlargo/theme-oklahomawatch.git
[submodule "wp-content/themes/sirf"]
	path = wp-content/themes/sirf
	url = https://bitbucket.org/projectlargo/theme-sirf.git
[submodule "wp-content/themes/c-hit"]
	path = wp-content/themes/c-hit
	url = https://bitbucket.org/projectlargo/theme-c-hit.git
[submodule "wp-content/plugins/largo-extended"]
	path = wp-content/plugins/largo-extended
	url = https://bitbucket.org/projectlargo/largo-extended.git
[submodule "wp-content/themes/aspen"]
	path = wp-content/themes/aspen
	url = https://bitbucket.org/projectlargo/theme-aspen.git
[submodule "wp-content/themes/invw"]
	path = wp-content/themes/invw
	url = https://bitbucket.org/projectlargo/theme-invw.git
[submodule "wp-content/plugins/navis-documentcloud"]
	path = wp-content/plugins/navis-documentcloud
	url = https://github.com/INN/navis-documentcloud.git
[submodule "wp-content/plugins/argo-links"]
	path = wp-content/plugins/argo-links
	url = https://github.com/INN/argo-links.git
[submodule "wp-content/plugins/largo-clean-contact"]
	path = wp-content/plugins/largo-clean-contact
	url = https://github.com/INN/largo-clean-contact.git
[submodule "wp-content/plugins/navis-jiffy-posts"]
	path = wp-content/plugins/navis-jiffy-posts
	url = https://github.com/INN/navis-jiffy-posts.git
[submodule "wp-content/plugins/navis-slideshows"]
	path = wp-content/plugins/navis-slideshows
	url = https://github.com/INN/navis-slideshows.git
[submodule "wp-content/themes/montana"]
	path = wp-content/themes/montana
	url = https://bitbucket.org/projectlargo/theme-montana.git
[submodule "wp-content/themes/innovationtrail"]
	path = wp-content/themes/innovationtrail
	url = https://bitbucket.org/projectlargo/theme-innovationtrail.git
[submodule "wp-content/themes/ohio"]
	path = wp-content/themes/ohio
	url = https://bitbucket.org/projectlargo/theme-ohio.git
[submodule "wp-content/themes/raleigh"]
	path = wp-content/themes/raleigh
	url = https://bitbucket.org/projectlargo/theme-raleigh.git
[submodule "wp-content/plugins/argo-audio-player"]
	path = wp-content/plugins/argo-audio-player
	url = https://github.com/INN/argo-audio-player.git
[submodule "wp-content/themes/chicago-reporter"]
	path = wp-content/themes/chicago-reporter
	url = https://bitbucket.org/projectlargo/theme-chicago-reporter.git
[submodule "wp-content/themes/cpipr"]
	path = wp-content/themes/cpipr
	url = https://bitbucket.org/projectlargo/theme-cpipr.git
[submodule "wp-content/themes/inews"]
	path = wp-content/themes/inews
	url = https://bitbucket.org/projectlargo/theme-inews.git
[submodule "wp-content/themes/kentucky"]
	path = wp-content/themes/kentucky
	url = https://bitbucket.org/projectlargo/theme-kycir.git
[submodule "wp-content/themes/largoproject"]
	path = wp-content/themes/largoproject
	url = https://bitbucket.org/projectlargo/theme-largoproject.git
[submodule "wp-content/themes/nmindepth"]
	path = wp-content/themes/nmindepth
	url = https://bitbucket.org/projectlargo/theme-nmindepth.git
[submodule "wp-content/themes/teenvoices"]
	path = wp-content/themes/teenvoices
	url = https://bitbucket.org/projectlargo/theme-teenvoices.git
[submodule "wp-content/themes/ctmirror"]
	path = wp-content/themes/ctmirror
	url = https://github.com/drywall/ctmirror.git
[submodule "wp-content/themes/newsdesk"]
	path = wp-content/themes/newsdesk
	url = https://bitbucket.org/projectlargo/theme-newsdesk.git
[submodule "wp-content/themes/lensnola"]
	path = wp-content/themes/lensnola
	url = https://bitbucket.org/projectlargo/theme-lensnola.git
[submodule "wp-content/themes/nchealthnews"]
	path = wp-content/themes/nchealthnews
	url = https://bitbucket.org/projectlargo/theme-nchealthnews.git
[submodule "wp-content/themes/insideenergy"]
	path = wp-content/themes/insideenergy
	url = https://bitbucket.org/projectlargo/theme-insideenergy.git
[submodule "wp-content/themes/austinbulldog"]
	path = wp-content/themes/austinbulldog
	url = https://bitbucket.org/projectlargo/theme-austinbulldog.git
[submodule "wp-content/themes/georgianewslab"]
	path = wp-content/themes/georgianewslab
	url = https://bitbucket.org/projectlargo/theme-georgianewslab.git
[submodule "wp-content/themes/womens-enews"]
	path = wp-content/themes/womens-enews
	url = https://bitbucket.org/projectlargo/theme-womens-enews.git
[submodule "wp-content/themes/bronx"]
	path = wp-content/themes/bronx
	url = https://bitbucket.org/projectlargo/theme-bronx.git
[submodule "tools"]
	path = tools
	url = https://github.com/INN/deploy-tools.git
[submodule "wp-content/themes/brooklyn"]
	path = wp-content/themes/brooklyn
	url = https://bitbucket.org/projectlargo/theme-brooklyn.git
[submodule "wp-content/themes/current"]
	path = wp-content/themes/current
	url = https://bitbucket.org/projectlargo/theme-current.git
[submodule "wp-content/themes/largo-dev"]
	path = wp-content/themes/largo-dev
	url = https://github.com/INN/Largo.git
[submodule "wp-content/themes/citylimits"]
	path = wp-content/themes/citylimits
	url = https://bitbucket.org/projectlargo/theme-citylimits.git
[submodule "wp-content/themes/fcir"]
	path = wp-content/themes/fcir
	url = https://bitbucket.org/projectlargo/theme-fcir
[submodule "wp-content/themes/gijn-impact"]
	path = wp-content/themes/gijn-impact
	url = https://bitbucket.org/projectlargo/theme-gijn-impact.git
[submodule "wp-content/plugins/news-quiz"]
	path = wp-content/plugins/news-quiz
	url = https://github.com/INN/news-quiz.git
[submodule "wp-content/themes/voiceofoc"]
	path = wp-content/themes/voiceofoc
	url = git@bitbucket.org:projectlargo/theme-voice-of-oc.git
[submodule "wp-content/themes/npq"]
	path = wp-content/themes/npq
	url = git@bitbucket.org:projectlargo/theme-npq.git
[submodule "wp-content/themes/catalystchicago"]
	path = wp-content/themes/catalystchicago
	url = https://benlk@bitbucket.org/projectlargo/theme-chicago-catalyst.git
